<div class="container">
    <!-- Timer above both panels -->
  <div class="timer">
    ⏱ Time Left: {{ displayTime }}
  </div>
  <!-- Left Panel -->
  <div class="left-panel">
    <div *ngFor="let key of (data | keyvalue)">
      <button class="accordion" (click)="key.expanded = !key.expanded">
        {{ key.key | uppercase }}
      </button>
      <div class="panel" *ngIf="key.expanded">
        <div class="circle-options">
          <div 
            class="circle" 
            *ngFor="let item of key.value" 
            (click)="selectItem(item)"
            [class.selected]="selectedItem?.id === item.id">
            {{ item.id }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Panel -->
  <div class="right-panel" *ngIf="selectedItem">
    <h3>Selected Item</h3>
    <p><strong>ID:</strong> {{ selectedItem.optionA }}</p>
    <p><strong>Name:</strong> {{ selectedItem.optionB }}</p>
  </div>
</div>

<!-- 
<p>show-questions works! {{questionsList}}</p>
<p>show-questions works! {{optionA}}</p>

<div>
  <p>{{questionsList.question}}</p>
 <label>
  <input type="radio" name="q1" [value]="optionA">{{optionA}}
</label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_b}'"> {{questionsList.option_b}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_c}'"> {{questionsList.option_c}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_d}'"> {{questionsList.option_d}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_e}'"> {{questionsList.option_e}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_f}'"> {{questionsList.option_f}}
  </label>
</div>

<div>
  <p>{{questionsList.question}}</p>
 <label>
  <input type="checkbox" name="q2" [value]="optionA"> {{ optionA }}
</label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_b}'"> {{questionsList.option_b}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_c}'"> {{questionsList.option_c}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_d}'"> {{questionsList.option_d}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_e}'"> {{questionsList.option_e}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_f}'"> {{questionsList.option_f}}
  </label>
</div> -->