<mat-toolbar color="primary" class="toolbar" style="text-align: center;">
  ⏱ Time Left: {{ displayTime }}
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Left Panel -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let key of (data | keyvalue)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ key.key | uppercase }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="circle-options">
          <button mat-raised-button
                  color="{{ selectedItem?.id === item.id ? 'accent' : '' }}"
                  class="circle"
                  *ngFor="let item of key.value"
                  (click)="selectItem(item)">
            {{ item.id }}
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <!-- Right Panel -->
  <mat-sidenav-content class="content">
    <ng-container *ngIf="selectedItem; else noSelection">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Selected Item</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>ID:</strong> {{ selectedItem.id }}</p>
          <p><strong>Name:</strong> {{ selectedItem.optionA }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-template #noSelection>
      <mat-card>
        <mat-card-content>
          <p>Please select an item from the left panel.</p>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- 
<p>show-questions works! {{questionsList}}</p>
<p>show-questions works! {{optionA}}</p>

<div>
  <p>{{questionsList.question}}</p>
 <label>
  <input type="radio" name="q1" [value]="optionA">{{optionA}}
</label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_b}'"> {{questionsList.option_b}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_c}'"> {{questionsList.option_c}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_d}'"> {{questionsList.option_d}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_e}'"> {{questionsList.option_e}}
  </label><br>
  <label>
    <input type="radio" name="q1" [value]="'{questionsList.option_f}'"> {{questionsList.option_f}}
  </label>
</div>

<div>
  <p>{{questionsList.question}}</p>
 <label>
  <input type="checkbox" name="q2" [value]="optionA"> {{ optionA }}
</label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_b}'"> {{questionsList.option_b}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_c}'"> {{questionsList.option_c}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_d}'"> {{questionsList.option_d}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_e}'"> {{questionsList.option_e}}
  </label><br>
  <label>
    <input type="checkbox" name="q2" [value]="'{questionsList.option_f}'"> {{questionsList.option_f}}
  </label>
</div> -->